/* gallary style */

#grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: aqua;
}

#grid-item {
    margin: 15px auto 15px auto;
    padding: 10px;
    width: fit-content;

}

.carousel img {
}