/* style sheet */

* {
    font-family: 'Noto Sans', sans-serif !important;
}

nav .navbar {
    background-color: #00BFFF;
}


/*///////////////////////////////////////////////////////////////////////*/

.introduction strong {
    color: #D8BFD8;
}

#intro {
    background-color: #00BFFF;
    width: auto;
    height: 900px;
    text-align: center;
    z-index: 1;
}

.intro_content {
    padding-top: 300px;
    padding-bottom: 300px;
    font-size: 3.125rem;
    font-weight: none;
}

.intro_content p {
    font-size: 1.5rem;
}

.intro_content button {
    padding-top: auto;
    width: 200px;
    height: 50px;
    font-weight: 600;
    box-shadow: black;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #D8BFD8;
}


/* corasel */


/*///////////////////////////////////////////////////////////////////////////*/

.porfolio_preview_stack {
    display: block;
    background-color: #D8BFD8;
}

.porfolio_preview {
    bottom: 300px;
    position: relative;
}

#carouselExampleControls .carousel-inner {
    border-radius: 15px;
    margin: auto;
    max-width: 1920px;
    max-height: 600px;
    width: 90%;
    height: 100%;
    box-shadow: 5px 10px #D8BFD8;
    position: static;
}

#carouselExampleControls .carousel-inner img {
    border-radius: 15px;
    max-width: 1920px;
    max-height: 600px;
    width: 100%;
    height: 100%;
}


/* about */

#about_me {
    background-color: #D8BFD8;
}

#about_me h2 {
    color: #00BFFF;
}

.jumbotron {
    background-color: #D8BFD8;
}

#learn_more_button {
    box-shadow: 5px 10px #00BFFF;
}


/*footer/contact sheet */

.social_media_tab {
    display: block;
}

.social_media_tab a img {
    margin-top: 0;
    margin-left: 30px;
    height: 25px;
    width: 25px;
}


/*//////////////////////////////////////////////////////////////////////////*/

footer {
    background-color: #00BFFF !important;
}


/* form ///////////////////////////////////////////////*/

input,
textarea {
    outline: none;
}

.contac-me {
    margin-top: 10px;
    font-weight: 500;
}

form {
    position: relative;
    width: 50%;
    border-radius: 30px;
    background: #00BFFF;
}

.form-left-decoration,
.form-right-decoration {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 20px;
    background: #D8BFD8;
}

.form-left-decoration {
    bottom: 60px;
    left: -30px;
}

.form-right-decoration {
    top: 60px;
    right: -30px;
}

.form-left-decoration:before,
.form-left-decoration:after,
.form-right-decoration:before,
.form-right-decoration:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 30px;
    background: #fff;
}

.form-left-decoration:before {
    top: -20px;
}

.form-left-decoration:after {
    top: 20px;
    left: 10px;
}

.form-right-decoration:before {
    top: -20px;
    right: 0;
}

.form-right-decoration:after {
    top: 20px;
    right: 10px;
}

.circle {
    position: absolute;
    bottom: 80px;
    left: -55px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
}

.form-inner {
    padding: 40px;
}

.form-inner input,
.form-inner textarea {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    background: #d0dfe8;
}

.form-inner textarea {
    resize: none;
}

@media (min-width: 568px) {
    form {
        width: 60%;
    }
}

.top-decor {
    background-color: #D8BFD8;
    height: 20px;
    width: 100%;
    top: 20px;
    left: 10px;
}

footer form button {
    align-items: center;
    margin: 5px auto 5px auto;
    width: 1040px;
    max-width: 100%;
}


/* ///////////////////////////////////////////////////////*/

.displayInBlock {
    display: inline-block;
}

.importantLinks {
    display: inline-block;
}

.social_media_tab {
    display: block;
}


/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


/* media queries */


/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles */
}


/* Smartphones (landscape) ----------- */

@media only screen and (min-width: 321px) {
    /* Styles */
}


/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 320px) {
    /* Styles */
}


/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Styles */
}


/* iPads (landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* Styles */
}


/* iPads (portrait) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* Styles */
}


/**********
    iPad 3
    **********/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
}


/* Desktops and laptops ----------- */


/*
    @media only screen  and (min-width : 1224px) {
    /* Styles */


/* 
    }
    
    /* Large screens ----------- */


/* 
    @media only screen  and (min-width : 1824px) {
    /* Styles */


/*
    }
    */


/* iPhone 4 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
}


/* iPhone 5 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}


/* iPhone 6, 7, 8 ----------- */

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}


/* iPhone 6+, 7+, 8+ ----------- */

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}


/* iPhone X ----------- */

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}


/* iPhone XS Max, XR ----------- */

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}


/* Samsung Galaxy S3 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}


/* Samsung Galaxy S4 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}


/* Samsung Galaxy S5 ----------- */

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}